{% load static %}
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Poppins:wght@600;700;800&display=swap">

<link rel="stylesheet" href="{% static 'blog/css/style.css' %}">

{# Feed RSS: navegadores e leitores de feed descobrem os posts novos por aqui #}
<link rel="alternate" type="application/rss+xml" title="{{ site_setup.title|default:'Blog' }}" href="{% url 'blog:feed' %}">

{# Ícone da aba do navegador: o do Setup (admin), se tiver; senão o padrão do blog #}
{% if site_setup.favicon %}
    <link rel="icon" href="{{ site_setup.favicon.url }}" type="image/png">
{% else %}
    <link rel="icon" href="{% static 'blog/img/favicon.svg' %}" type="image/svg+xml">
    <link rel="icon" href="{% static 'blog/img/favicon-32.png' %}" sizes="32x32" type="image/png">
{% endif %}
{# Ícone quando alguém adiciona o site à tela inicial do iPhone/Android #}
<link rel="apple-touch-icon" href="{% static 'blog/img/apple-touch-icon.png' %}">
{# Cor da barra do navegador no celular: o mesmo fundo escuro do tema rosa #}
<meta name="theme-color" content="#12070f">

{% if site_setup.description %}
    <meta name="description" content="{{ site_setup.description }}">
{% endif %}

